@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf');
  font-weight: bold;
}

:root {
  --primary-color: #127748;
}

body {
  font-family: 'Roboto', sans-serif;
}

div {
  box-sizing: border-box;
}

a {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  text-decoration: underline;
}

.phone-link {
  color: #000;
}

.address-link {
  color: #000;
  font-weight: normal;
}

p {
  margin: 8px 0;
}

h1 {
  margin: 4px;
  margin-bottom: 0;
  font-size: 18px;
}

.page-header-bar {
  background-color: var(--primary-color);
  color: #fff;
  width: 100%;
  margin-bottom: 4px;
  box-shadow: 0 0 3px 3px #aaa
}

.page-header-bar .nav-container {
  max-width: 900px;
  margin: auto;
  padding: 0 4px;
  height: 32px;
  display: flex;
  align-items: center;
}

.page-header-bar .nav-container .home-link {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  font-size: 14px;
  margin: 4px;
}

.page-description, .page-footer {
  margin: 0 4px;
  font-size: 14px;
}

.page-footer {
  margin-bottom: 16px;
}

.page-footer p:first-child {
  margin-top: 0;
}

.toc {
  margin: 4px;
  border-bottom: 1px solid black;
}

.toc-header {
  font-weight: bold;
}

.country-list {
  margin: 0 4px 8px 4px;
}

.country-list .state-list {
  margin-left: 16px;
}

.state-list .city-list {
  margin-left: 16px;
}

.list .list-item {
  margin: 4px 0;
}

.pdf-link {
  margin: 4px;
}

.section {
  font-size: 14px;
}

.section .section-header {
  margin: 0 4px;
  padding: 4px;
  background-color: #ddd;
  border: 1px solid black;
}

.section h2 {
  margin: 0;
  font-size: 16px;
}

.section .items {
  margin: 0 4px 8px 4px;
}

.section .item {
  margin: 0;
  padding: 8px;
  border: 1px solid black;
  border-top: none;
  display: flex;
  flex-direction: column;
}

.section .item .field {
  margin-bottom: 8px;
}

.section .item > .field:last-child {
  margin-bottom: 0;
}

.section .item .name {
  font-weight: bold;
}

.section .item .phone {
  font-weight: bold;
}

.section .item .address .line {
  display: block;
}

.section .item .provides {
  padding: 8px;
}

.section .item .provides .provides-item {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 0;
  text-align: center;
}

.section .item .provides .provides-item .description {
  text-decoration: underline;
}

.section .item .provides .provides-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

@media screen and (min-width: 760px) {
  .page-header-bar .nav-container {
    padding: 0 12px;
  }

  .content-wrapper {
    padding: 0 8px;
    box-sizing: border-box;
    max-width: 900px;
    margin: auto;
  }

  .section .section-header {
    display: flex;
    align-items: baseline;
  }

  .section .section-header .section-header-description {
    margin-left: 16px;
  }

  .section .items {
    display: flex;
    flex-wrap: wrap;
  }

  .section .item {
    width: 50%;
    box-sizing: border-box;
  }

  .section .item .provides .provides-items {
    display: flex;
    justify-content: center;
  }

  .section .item .provides .provides-item {
    border-bottom: none;
    border-right: 1px solid black;
    padding: 0 4px;
    max-width: 60%;
  }

  .section .item .provides .provides-item:first-child {
    padding-left: 0;
  }

  .section .item .provides .provides-item:last-child {
    border-right: none;
    padding-right: 0;
  }

  .section .item:nth-child(even) {
    border-left: none;
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  .section, .page-footer {
    font-size: 12px;
  }

  .page-footer {
    margin-bottom: 0;
  }

  .page-footer p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .section .section-header {
    box-shadow: inset 0 0 0 1000px #ddd;
    display: flex;
    align-items: baseline;
    padding: 2px;
  }

  .section h2 {
    font-size: 14px;
  }

  .section .section-header .section-header-description {
    margin-left: 16px;
  }

  .section .items {
    display: flex;
    flex-wrap: wrap;
  }

  .section .item {
    width: 50%;
    box-sizing: border-box;
    break-inside: avoid;
    padding: 2px;
    padding-left: 4px;
  }

  .section .item .field {
    margin-bottom: 1px;
  }

  .section .item .item-top .field {
    display: inline;
  }

  .section .item .item-top .phone {
    white-space: nowrap;
  }

  .section .item .item-top .description::before {
    content: "- ";
  }

  .section .item .item-top .phone::before {
    content: "- ";
  }

  .section .item .address .line {
    display: initial;
  }

  .section .item .provides {
    padding: 1px 0 0 0;
  }

  .section .item .provides .provides-items {
    display: flex;
    justify-content: center;
  }

  .section .item .provides .provides-item {
    border-bottom: none;
    border-right: 1px solid black;
    padding: 0 4px;
    max-width: 60%;
  }

  .section .item .provides .provides-item:first-child {
    padding-left: 0;
  }

  .section .item .provides .provides-item:last-child {
    border-right: none;
    padding-right: 0;
  }

  .section .item:nth-child(even) {
    border-left: none;
  }

  .do-not-print {
    display: none !important;
  }
}
