
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  .section .section-header {
    box-shadow: inset 0 0 0 1000px #ddd;
  }
}

body {
  font-family: sans-serif;
}

a {
  color: rgb(24, 126, 32);
  font-weight: bold;
  text-decoration: none;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section .section-header {
  margin: 4px;
  padding: 4px;
  background-color: #ddd;
  border: 1px solid black;
}

.section h2 {
  margin: 0;
}

.section .item {
  margin: 4px;
  padding: 8px;
  border: 1px solid black;
  font-size: 16px;
}

.section .item .name {
  font-weight: bold;
  margin-bottom: 8px;
}

.section .item .description {
  margin-bottom: 8px;
}

.section .item .phone {
  font-weight: bold;
  margin-bottom: 4px;
}
