
.data-selector-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .directory-display {
    margin: 16px 0;
  }

  .MuiButton-root {
    margin-bottom: 16px;
  }
}
