<!DOCTYPE html>
<html>
  <head>
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="{{normalizeCss}}">
    <link rel="stylesheet" href="{{stylesCss}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="page-header-bar do-not-print">
      <div class="nav-container">
        <a href="{{homeLink}}" class="home-link">
          HelpSheets.org
        </a>
      </div>
    </div>
    <div class="content-wrapper">
      {{pageContent}}
    </div>
  </body>
</html>
